.header {
    color: $primary;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8333vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    padding-left: 9.0278vw;
    padding-right: 9.0278vw;
    padding-top: 1.6667vw;
    padding-bottom: 1.6667vw;
}

.phone {
    color: $primary;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.bookapp {
    color: $primary;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1111vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}