.csat {
    color: #D8B36A;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.9722vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.header-caption-carousel {
    color: #222F66;
    font-family: 'PT Serif', serif;
    font-size: 2.2222vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.caption-carousel {
    color: #0E0E0F;
    font-family: 'PT Serif', serif;
    font-size: 1.1111vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.btn-more-carousel {
    color: #FFF;
    font-family: 'PT Serif', serif;
    font-size: 1.1111vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
}

.excelent-header {
    color: #222F66;
    font-family: 'PT Serif', serif;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.excelent-header2 {
    color: #DEAA4E;
    font-family: 'PT Serif', serif;
    font-size: 2.5vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.excelent-content {
    color: #606060;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.0417vw;
    font-style: normal;
    font-weight: 400;
    line-height: 159.4%;
    /* 23.91px */
    text-transform: lowercase;
}

.menu-excelent {
    color: #222F66;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.1806vw;
    font-style: normal;
    font-weight: 700;
    line-height: 159.4%;
    /* 27.098px */
    text-transform: capitalize;
}

input.book::-webkit-input-placeholder {
    color: #A1A7CB;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.0417vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: capitalize;
    padding: 0px;
}

input.book {
    font-size: 1.0417vw
}

.testi-name {
    color: #D8B36A;
    font-family: 'PT Serif', serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.testi-titlejob {
    color: #222F66;
    font-family: 'PT Serif', serif;
    font-size: 1.0417vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.testi-content {
    color: #606060;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.0417vw;
    padding-left: 0.9vw;
    font-style: normal;
    font-weight: 400;
    text-transform: capitalize;
}

.news-title {
    color: #606060;
    font-family: 'PT Serif', serif;
    font-size: 1.25vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news-date {
    color: #D9D9D9;
    font-family: 'PT Sans', sans-serif;
    font-size: 0.8333vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news-body {
    color: #606060;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.0417vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.news-botton {
    display: flex;
    justify-content: center;
    align-items: center;



    width: 8.3333vw;
    height: 2.5vw;
    border: 0.0694vw solid #606060;
    border-radius: 1.25vw;
    color: #606060;
    font-family: 'PT Serif', serif;

    font-size: 1.0417vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

.blog-title {
    color: #222F66;
    font-family: 'PT Serif', serif;
    font-size: 1.3889vw;
    font-style: normal;
    font-weight: 700;
    line-height: 159.4%;
    /* 31.88px */
    text-transform: capitalize;
}

.blog-content {
    color: #606060;
    font-family: 'PT Sans', sans-serif;
    font-size: 1.0417vw;
    font-style: normal;
    font-weight: 400;
    line-height: 159.4%;
    /* 23.91px */
    text-transform: capitalize;
}

.blog-botton {

    width: 8.8194vw;
    height: 3.4722vw;
    flex-shrink: 0;

    border-radius: 1.7361vw;
    border: 1px solid #222F66;

    color: #222F66;
    font-family: 'PT Serif', serif;
    font-size: 1.0417vw;
    font-style: normal;
    font-weight: 400;
    line-height: 159.4%;
    /* 23.91px */
    text-transform: capitalize;
}

.buttom-appointment-title {
    color: #222F66;
    font-family: 'PT Serif', serif;
    font-size: 1.6667vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}