.top {
    color: $primary;
    font-family: 'PT Serif', serif;
    font-size: 0.8333vw;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
    padding-left: 9.0278vw;
    padding-right: 9.0278vw;
    padding-top: 0.7639vw;
    padding-bottom: 0.7639vw;
}